/*.container{
  margin: .5rem
  max-width: 400px
}

.title{
  padding-bottom: .25em
  padding-bottom: 0
}*/
  
.swipeContainer{
  padding: 1em
}
  
.swipe{
  display: inline-block;
  border: 2px solid gray;
  padding: 5px;

}
  
/*.hollow{
  background-color: transparent;
  border: 0;
  cursor: pointer;
}*/
  
/*.float-right{
  float: right!important;
}
  
.float-left{
  float: left!important;
}
*/


