.rbc-calendar { 
    height: 800px; 
    
  }


@media only screen and (max-width : 600px) {

  .rbc-toolbar button{
    width: 33px;
    font-size: 8.5px;
    white-space: normal;
    padding: 0px;
    height: 30px;
  }
}